.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 12px;
    background-color: #59260B;
    transition: width 0.3s;
    font-family: "Roboto", serif;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #7A3B14;
    color: white;
    transition: all 0.3s ease-in;
}

.sidebar .nav-link:focus {
    background-color: #7A3B14;
    color: white;
    transition: all 0.3s ease-in;
    font-weight: 500;
}

.sidebar .description {
    font-size: 16px;
}

.sidebar .icon {
    font-size: 18px;
}